extends ../templates/base

mixin createArticles(title, articles, pageTitle)
  .title= title
  .articles
    each article in articles
      a(href="##{article.href}" class=pageTitle==article.title?"active":"")=article.title

block js
  block configParams
  // build:home /js/article.js
  script(src="/js/article.js")
  script(src="/js/article-groups/#{articles}.js")
  // endbuild

  script.
    article = new Article("#{title}", "#{articles}")


block content
  .article-page
    .left-nav#left-nav
      //- .article-nav
        block articles

    .markdown 
      block markdown
