extends ../templates/base

mixin createArticles(title, articles, pageTitle)
  .title= title
  .articles
    each article in articles
      a(href="##{article.href}" class=pageTitle==article.title?"active":"")=article.title

block js
  block configParams
  //- Load in a custom article group
  script(src="/js/article-groups/#{articles}.js")

  script.
    article = new Article("#{title}", "#{articles}", "#{icons}")


block content
  .article-page
    .left-nav#left-nav
      .article-nav
        .title
        .articles

    .main
      block custom
      //- Populated with any custom content
      
      .markdown 
        block markdown
        //- Populated with any markdown files
