extends ../templates/base

block js
  // build:js /js/landing.js
  script(src="/js/landing.js")
  // endbuild
  
  // build:js /js/framework-landing.js
  script(src="/js/framework-landing.js")
  // endbuild
  
  script.
    //- Don't fail if these vals aren't set...
    var requiredComponents = (requiredComponents === null) ? [] : requiredComponents
    var optionalComponents = (optionalComponents === null) ? [] : optionalComponents
    var articleGroups      = (articleGroups === null)      ? [] : articleGroups
    var contributors       = (contributors === null)       ? [] : contributors
    article = new FrameworkLanding(requiredComponents, optionalComponents, "#{informalName}", articleGroups, contributors )
    $main = $('.main')
    nanobox.addBreadcrumb( $main )
    //- nanobox.addIcons( $main, "#{iconCrumbs}" )
    if(typeof devMode !== 'undefined'){
      nanobox.showWorkInProgress( $main, "#{formalName}", "#{informalName}" )
    }
      
block content
  - var launchTime = "5"
  block configParams
  block jsParams
  .article-page.landing.framework 
    .left#left
      
    .main
      .title
        .icon
          img.shadow-icon(data-src="hex-#{icon}" scalable="true")
        .framework= formalName
        .sub with Nanobox
        if !noQuickstart
          .quickstart
            img.shadow-icon(data-src="from-scratch")
            .title Quickstart
            .blurb Install and run a #{informalName} app from scratch in #{launchTime} mins
            a(href="https://github.com/nanobox-quickstarts/nanobox-#{informalName}#readme")
              .txt Let's Go
              .icon
                img.shadow-icon(data-src="go-arrow")
      .article-groups#article-groups
        .guides-title#everything-title Everything Plus The Kitchen Sink 
        .tribe#everything-tribe
        
