extends ../templates/base

block js
  // build:index /js/landing.js
  script(src="/js/landing.js")
  // endbuild
  
  // build:index /js/language-landing.js
  script(src="/js/language-landing.js")
  // endbuild
  
  script.
    //- Don't fail if articleGroups isn't set...
    var articleGroups = (articleGroups === null) ? [] : articleGroups
    article = new LanguageLanding( articleGroups, "#{frameworks}" )
    $main = $('.main')
    nanobox.addBreadcrumb( $main )
    //- nanobox.addIcons( $main, "#{icon}" )
    if(typeof devMode !== 'undefined'){
      nanobox.showWorkInProgress( $main, "#{formalName}", "#{informalName}" )
    }
        
block content
  block configParams
  block jsParams
  .article-page.landing.language 
    .left
      .title
        .icon
          img.shadow-icon(data-src="hex-#{icon}" scalable="true")
        .language-title= formalName
    
      
    .main
      .frameworks
        .main-title Frameworks
        .frameworks-holder#frameworks-holder
      .main-title General #{informalName} Guides
      .article-groups#article-groups
