.map
  .description Nanobox builds an environment and launches the components a #{informalName} app needs to run
  img.shadow-icon(data-src="framework-map")
  .components
    each component in requiredComponents
      .component(id="#{component.icon}")
        .icon
          img.shadow-icon(data-src="hex-#{component.icon}" scalable="true")
        .txt= component.name
    if optionalComponents.length > 0
      .header Additional Components
      each component in optionalComponents
        .component(id="#{component.icon}")
          .icon
            img.shadow-icon(data-src="hex-#{component.icon}" scalable="true")
          .txt= component.name
      a.show-all(href="/components")
        .txt Show All
